# === APP ===
APP_ENV=development
APP_SECRET_KEY=change-me

# === Supabase ===
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_KEY=your-service-key
DATABASE_URL=postgresql://postgres.qevkubffgqeprlkyuflz:Labibletop_60@aws-1-eu-west-1.pooler.supabase.com:6543/postgres

# === Football Data API ===
FOOTBALL_DATA_API_KEY=your-api-key
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4

# === MLflow / DagsHub ===
MLFLOW_TRACKING_URI=https://dagshub.com/USERNAME/predictfc.mlflow
DAGSHUB_TOKEN=your-dagshub-token

# === DVC ===
DVC_REMOTE_URL=https://dagshub.com/USERNAME/predictfc.dvc

# === GitHub ===
GITHUB_TOKEN=your-github-token
